body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.navbar {
    background: gainsboro;
}

.quem-somos{
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
}

.margin{
    padding-top: 13px;
    padding-bottom: 40px;
}

.parceiros{
    background-color: darkgrey;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}
